@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Semibold.woff2") format("woff2"),
        url("../fonts/Lato/Lato-Semibold.woff") format("woff"),
        url("../fonts/Lato/Lato-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@import "vars";
@import "mixins";
@import "main";
@import "blocks/header";
@import "blocks/breadcrumb";
@import "blocks/benefits";
@import "blocks/feedback";
@import "blocks/footer";
@import "pages/index-styles";
@import "pages/catalog-styles";
@import "pages/product-styles";
@import "pages/cart-styles";
@import "pages/registration-styles";
