.benefits {
    background-color: #222224;
    margin-top: 96px;

    &-container {
        min-height: 340px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-item {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: 0.4s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-heading {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #fbfbfb;
        margin-top: 28px;
        margin-bottom: 16px;
    }

    &-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #fbfbfb;
        text-align: center;
    }
}
