.benefits {
    background-color: #222224;
    margin-top: 95px;

    &-container {
        min-height: 340px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-item {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: 0.4s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-heading {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #fbfbfb;
        margin-top: 25px;
        margin-bottom: 16px;
    }

    &-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #fbfbfb;
        text-align: center;
    }
}

@media (max-width: 1180px) {
    .benefits {
        margin-top: 65px;

        &-container {
            min-height: 610px;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}
