.breadcrumb {
    background-color: #f8f3f4;

    &-container {
        height: 148px;
        @include flex(space-between);
    }

    &-heading {
        color: $main-color;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    &-navigation {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        list-style: none;
    }

    &-link {
        display: inline;

        & + li::before {
            font-weight: 300;
            color: #636363;
            content: "/\00a0";
        }

        & a {
            color: #636363;
            text-decoration: none;
            transition-duration: 0.3s;

            &:hover {
                color: $main-color;
                text-decoration: underline;
            }
        }
    }

    &-arrivals {
        font-weight: 700;
        color: $main-color;
    }
}

@media (max-width: 788px) {
    .breadcrumb {
        &-container {
            flex-direction: column;
            justify-content: space-evenly;
        }

        &-navigation {
            padding-left: 0;
            padding-bottom: 10px;
        }
    }
}
