.feedback {
    background-image: url(../img/feedback-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #c4c4c4;

    &-container {
        min-height: 448px;
        @include flex(space-between);
    }

    &-reviews {
        max-width: 356px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {
            margin-top: 30px;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #222224;

            &-italic {
                font-size: 20px;
                line-height: 24px;
                font-style: italic;
            }
        }
    }

    &-subscribe {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-heading {
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            color: #222224;
        }

        &-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
        }

        &-form {
            display: flex;
            margin-top: 32px;
        }

        &-email {
            padding: 16px 22px;
            width: 238px;
            box-sizing: border-box;
            border: none;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            font-size: 14px;
            line-height: 16px;
            color: #222224;
            background-color: #e1e1e1;
            outline: none;
        }

        &-button {
            padding: 16px 19px;
            border: none;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
            background-color: $main-color;
            transition-duration: 0.4s;
            cursor: pointer;

            &:hover {
                background-color: #ffffff;
                color: $main-color;
            }
        }
    }
}

@media (max-width: 1192px) {
    .feedback {
        &-container {
            min-height: 693px;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}

@media (max-width: 788px) {
    .feedback {
        &-container {
            min-height: 550px;
        }

        &-reviews {
            &-text {
                font-size: 18px;
                line-height: 22px;

                &-italic {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }

        &-subscribe {
            width: 100%;
            padding-bottom: 20px;

            &-text {
                font-size: 14px;
                line-height: 22px;
            }

            &-form {
                margin-top: 22px;
            }
        }
    }
}
