.footer {
    background-color: #222224;
    padding: 24px 0;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-copy {
        font-size: 16px;
        line-height: 19px;
        color: #fbfbfb;
    }

    &-social {
        display: flex;

        &-link {
            width: 32px;
            height: 32px;
            background-color: #ffffff;
            text-decoration: none;
            margin-left: 7px;
            border-radius: 5px;
            @include flex();

            &:hover {
                background-color: #f16d7f;
                fill: #ffffff;
            }
        }
    }
}
