.header {
    background-color: #222222;
    color: #fff;
    position: relative;
    z-index: 3;

    &-container {
        padding: 17px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-link {
        display: inline-block;
        text-decoration: none;
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    &-logo-icon {
        margin-right: 40px;
        transition-duration: 0.5s;

        &:hover {
            transform: rotate(360deg);
        }
    }

    &-menu {
        position: absolute;
        background-color: #ffffff;
        min-height: 764px;
        width: 232px;
        right: 0;
        top: 77px;
        padding: 35px;
        box-sizing: border-box;
        box-shadow: $shadow;
        transform: scale(0);
        transform-origin: top right;
        transition: 0.4s;

        &-overlay {
            position: relative;
        }

        &-close {
            position: absolute;
            fill: #6f6e6e;
            right: -20px;
            top: -20px;
            transition-duration: 0.6s;

            &:hover {
                fill: $main-color;
                cursor: pointer;
                transform: rotate(360deg);
            }
        }

        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin-bottom: 25px;
        }

        &-section {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $main-color;
            margin-bottom: 15px;
        }

        &-list {
            list-style-type: none;
            margin-bottom: 25px;
            padding-left: 20px;

            & li {
                padding: 5px 0;
            }

            & a {
                display: block;
                text-decoration: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
                transition-duration: 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &-account-icon {
        margin: 0 32px;
    }
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .header-menu {
    transform: scale(1);
}

@media (max-width: 1192px) {
    .header {
        &-container {
            padding: 17px 32px;
        }
    }
}

@media (max-width: 788px) {
    .header {
        &-container {
            padding: 17px 16px;
        }

        &-account-icon {
            display: none;
        }

        &-cart-icon {
            display: none;
        }
    }
}
