.cart {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 130px;

    &-items {
        width: 57.2%;
    }

    &-item {
        display: flex;
        box-shadow: $shadow-2;
        margin-bottom: 40px;

        &-image {
            display: flex;
        }

        &-description {
            width: 100%;
            padding: 28px 30px;

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
        }

        &-title {
            max-width: 210px;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
        }

        &-delete {
            fill: #575757;
            background-color: transparent;
            border: none;
            transition-duration: 0.6s;

            &:hover {
                fill: $main-color;
                cursor: pointer;
                transform: rotate(360deg);
            }
        }

        &-text {
            list-style-type: none;
            padding-left: 0;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin-top: 40px;

            & li {
                padding: 3px 0;
            }
        }

        &-price {
            color: $main-color;
        }

        &-quantity {
            margin-left: 30px;
            border: 1px solid #eaeaea;
            outline: none;
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            color: #656565;
            text-align: center;
            transition-duration: 0.2s;

            &:focus {
                border: 1px solid #555;
            }
        }
    }

    &-actions {
        @include flex(space-between);
        margin-top: 72px;

        &-clear {
            padding: 15px 32px;
            background-color: #ffffff;
            color: #000000;
            border: 1px solid #a4a4a4;
            font-family: inherit;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
                background-color: $main-color;
                border: 1px solid $main-color;
                color: #ffffff;
            }
        }

        &-continue {
            padding: 15px 37px;
            border: 1px solid #a4a4a4;
            color: #000000;
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
                background-color: $main-color;
                border: 1px solid $main-color;
                color: #ffffff;
            }
        }
    }

    &-checkout {
        margin-top: 20px;
        width: 31.6%;
        box-sizing: border-box;
    }

    &-form {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-heading {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-bottom: 20px;
        }

        &-info {
            border: 1px solid #a4a4a4;
            padding: 13px;
            margin-bottom: 20px;
            outline: none;
            font-family: inherit;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            color: #222222;
            transition-duration: 0.2s;

            &:focus {
                border: 1px solid #555;
            }
        }

        &-submit {
            width: fit-content;
            padding: 10px 14px;
            background-color: #ffffff;
            color: #4a4a4a;
            border: 1px solid #a4a4a4;
            font-family: inherit;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            text-transform: uppercase;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
                background-color: $main-color;
                border: 1px solid $main-color;
                color: #ffffff;
            }
        }
    }

    &-box {
        box-sizing: border-box;
        width: 100%;
    }

    &-sum {
        background-color: #f5f3f3;
        margin-top: 57px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-text {
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            color: #4a4a4a;
        }

        &-price {
            margin-left: 26px;
        }

        &-bigtext {
            margin-top: 12px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        &-bigprice {
            margin-left: 26px;
            font-weight: 700;
            color: $main-color;
        }

        &-line {
            width: 100%;
            margin-top: 21px;
            height: 1px;
            border-width: 0;
            background-color: #e2e2e2;
        }

        &-proceed {
            align-self: center;
            margin-top: 17px;
            padding: 15px 40px;
            border: 1px solid $main-color;
            color: #ffffff;
            background-color: $main-color;
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
                border: 1px solid $main-color;
                background-color: #ffffff;
                color: $main-color;
            }
        }
    }
}

@media (max-width: 1192px) {
    .cart {
        padding-top: 60px;
        flex-direction: column;

        &-items {
            width: 100%;
        }

        &-actions {
            justify-content: center;

            &-clear {
                margin-right: 50px;
            }
        }

        &-checkout {
            margin-top: 64px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-self: flex-end;
        }

        &-form {
            margin-right: 15px;
        }

        &-sum {
            margin-top: 38px;
        }
    }
}

@media (max-width: 788px) {
    .cart {
        padding-top: 40px;
        padding-bottom: 96px;

        &-item {
            margin-bottom: 32px;

            &-description {
                padding: 15px 17px;
            }

            &-title {
                max-width: 140px;
                font-size: 16px;
                line-height: 19px;
            }

            &-delete svg {
                width: 11px;
                height: 11px;
            }

            &-text {
                font-size: 14px;
                line-height: 18px;
                margin-top: 24px;

                & li {
                    padding: 1px 0;
                }
            }

            &-quantity {
                margin-left: 25px;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
            }
        }

        &-actions {
            margin-top: 30px;

            &-clear {
                padding: 9px 34px;
                font-size: 12px;
                line-height: 14px;
                margin-right: 10px;
                text-transform: none;
            }

            &-continue {
                padding: 9px 35px;
                font-size: 12px;
                line-height: 14px;
                text-transform: none;
            }
        }

        &-checkout {
            margin-top: 48px;
            flex-direction: column;
        }

        &-form {
            margin-right: 0;

            &-submit {
                text-transform: none;
            }
        }

        &-sum {
            margin-top: 48px;
        }
    }
}
