.filter {
    padding-top: 51px;
    display: grid;
    grid-template-columns: 390px auto;

    &-main {
        position: relative;
        z-index: 1;
    }

    &-title {
        background-color: #ffffff;
        padding-left: 17px;

        &[open] {
            position: absolute;
            width: 360px;
            box-sizing: border-box;
            color: #ef5b70;
            fill: #ef5b70;
            box-shadow: $shadow;
            padding-top: 17px;
            margin-top: -17px;
            transition-duration: 0.2s;
        }

        &-text {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &-icon {
        padding-left: 12px;
    }

    &-content {
        color: #6f6e6e;

        &[open] {
            color: #ef5b70;
        }

        &-title {
            border-left: 5px solid #ef5b70;
            border-bottom: 1px solid #ebebeb;
            padding: 10px;
            margin: 17px 17px 17px 0;
        }

        &-list {
            list-style-type: none;
            padding: 0;
            margin-bottom: 17px;

            & li {
                padding: 5px 15px;
            }

            & a {
                text-decoration: none;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
            }
        }
    }
}

.sorting {
    display: flex;
    position: relative;
    z-index: 1;

    &-title {
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;

        &:hover {
            cursor: pointer;
        }
    }

    &-icon {
        padding-left: 11px;
    }

    &-list {
        box-sizing: border-box;
        width: 80px;
        position: absolute;
        margin-left: -10px;
        margin-top: 5px;
        padding: 0 10px;
        background-color: #ffffff;
        box-shadow: $shadow;

        & label {
            padding: 5px 0;
            display: block;
            font-size: 14px;
            line-height: 16px;
            color: #6f6e6e;
        }
    }

    &-size {
        padding: 0 30px;
    }
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
}

.pagination {
    display: flex;
    margin-top: 18px;
    padding: 6px 9px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #ebebeb;
    border-radius: 5px;

    & a {
        display: flex;
        align-items: center;
        padding: 5px 8px;
        text-decoration: none;
        color: #ebebeb;
        transition-duration: 0.3s;

        &.active {
            color: $main-color;
        }

        &:hover {
            background-color: $main-color;
            border-radius: 5px;
            color: #ffffff;
            fill: #ffffff;
        }
    }
}
