.promo {
    background-color: #f1e4e6;

    &-container {
        background-image: url(../img/promo-bg.png);
        background-repeat: no-repeat;
        background-position-x: -226px;
        background-position-y: bottom;
        height: 764px;
        @include flex(flex-end);
    }

    &-heading {
        width: 41%;
        padding-left: 16px;
        border-left: 12px solid $main-color;

        &-brand {
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
        }

        &-lux {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }

        &-fashion {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: $main-color;
        }
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 96px;

    &-card {
        background-color: #c4c4c4;
        background-repeat: no-repeat;
        background-size: cover;
        width: 360px;
        height: 260px;
        color: #ffffff;
        @include flex();
        flex-direction: column;
        border-radius: 5px;
        transition-duration: 2s;

        &:hover {
            transform: rotateY(360deg);
        }
    }

    &-women {
        background-image: url(../img/category-women.png);
    }

    &-men {
        background-image: url(../img/category-men.png);
    }

    &-kids {
        background-image: url(../img/category-kids.png);
    }

    &-accs {
        background-image: url(../img/category-accs.png);
        width: 100%;
        height: 180px;
        margin-top: 30px;

        &:hover {
            transform: rotateX(360deg);
        }
    }

    &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &-big-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $main-color;
    }
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-heading {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9f9f9f;
        margin: 6px auto 48px;
    }

    &-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-card {
        width: 360px;
        margin-bottom: 30px;
        background-color: #f8f8f8;
        transition: 0.5s;

        &:hover {
            box-shadow: $shadow;

            .products-overlay {
                opacity: 1;
            }
        }

        &-info {
            padding: 20px;
        }

        &-heading {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
            margin-bottom: 13px;
        }

        &-text {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5d5d5d;
            margin-bottom: 18px;
        }
    }

    &-image {
        position: relative;
        z-index: 0;
    }

    &-overlay {
        position: absolute;
        @include flex();
        background-color: rgba(58, 56, 56, 0.86);
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: 0.5s;

        &-button {
            border: 1px solid #ffffff;
            display: flex;
            align-items: center;
            background-color: transparent;
            padding: 8px 13px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            fill: #ffffff;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
                background-color: $main-color;
                border: 1px solid $main-color;
            }
        }

        &-icon {
            margin-right: 11px;
        }
    }

    &-link {
        text-decoration: none;
    }

    &-pricetag {
        font-size: 16px;
        line-height: 19px;
        color: $main-color;
    }

    &-all {
        padding: 13px 37px;
        border: 1px solid #ff6a6a;
        color: #f26376;
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        margin-top: 18px;
        transition-duration: 0.4s;

        &:hover {
            background-color: $main-color;
            color: #ffffff;
            fill: #ffffff;
        }
    }
}

@media (max-width: 1180px) {
    .promo {
        &-container {
            height: 368px;
            background-size: contain;
            background-position-x: -30px;
        }

        &-heading {
            &-brand {
                font-weight: 900;
                font-size: 44px;
                line-height: 52px;
            }

            &-lux {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }

            &-fashion {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: $main-color;
            }
        }
    }

    .categories {
        padding-top: 20px;
        padding-bottom: 150px;

        &-card {
            background-size: cover;
            width: 232px;
            height: 168px;
        }

        &-accs {
            width: 100%;
            height: 116px;
            margin-top: 20px;
        }
    }

    .products {
        &-text {
            margin: 3px auto 74px;
        }

        &-card {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &-container {
            background-image: none;
        }

        &-heading {
            width: 100%;
            &-brand {
                font-weight: 900;
                font-size: 38px;
                line-height: 46px;
            }

            &-lux {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }

            &-fashion {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: $main-color;
            }
        }
    }
}
