.product-slider {
    position: relative;
    background-color: #f7f7f7;
    padding-bottom: 64px;
    @include flex();
    z-index: 0;

    &-button {
        background-color: rgba(42, 42, 42, 0.15);
        padding: 11px 17px;
        border: none;
        transition-duration: 0.4s;

        &-left {
            position: absolute;
            left: 0;
        }

        &-right {
            position: absolute;
            right: 0;
        }

        &:hover {
            fill: $main-color;
            background-color: #ffffff;
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.description {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -64px;
    margin-bottom: 130px;
    position: relative;

    &-type {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $main-color;
    }

    &-top-line {
        width: 63px;
        height: 3px;
        border-width: 0;
        background-color: #ef5b70;
        margin-top: 12px;
    }

    &-title {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4d4d4d;
        margin-top: 12px;
    }

    &-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5e5e5e;
        text-align: center;
        margin-top: 48px;
        max-width: 555px;
    }

    &-pricetag {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #ef5b70;
        margin-top: 32px;
    }

    &-bottom-line {
        width: 100%;
        max-width: 641px;
        height: 1px;
        border-width: 0;
        background-color: #eaeaea;
        margin: 65px 0;
    }

    &-cart-button {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid #ff6a6a;
        padding: 7px 36px;
        margin-top: 48px;
        color: #f26376;
        fill: #ef5b70;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        transition-duration: 0.4s;

        &-icon {
            margin-right: 23px;
        }

        &:hover {
            background-color: $main-color;
            color: #ffffff;
            fill: #ffffff;
            cursor: pointer;
        }
    }
}

.product-feedback {
    margin-top: 100px;
}
