.reg {
    padding-top: 64px;
    padding-bottom: 96px;
    display: flex;

    &-form {
        width: 360px;
        margin-right: 130px;

        &-heading {
            border: none;
            padding: 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        &-info {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #a4a4a4;
            padding: 14px;
            margin-top: 20px;
            font-family: inherit;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #b1b1b1;
            outline: none;
            transition-duration: 0.2s;

            &:focus {
                border: 1px solid #555;
            }
        }
        &-gender {
            display: flex;
            border: none;
            padding: 30px 0;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #000000;

            & label {
                margin-left: 10px;
                margin-right: 20px;
            }
        }

        &-text {
            margin-top: 15px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #b1b1b1;
        }

        &-join {
            margin-top: 40px;
            padding: 16px 30px;
            background-color: $main-color;
            color: #ffffff;
            fill: #ffffff;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            cursor: pointer;
            border: 1px solid $main-color;
            transition-duration: 0.4s;

            & svg {
                padding-left: 15px;
                transition-duration: 0.4s;
                transition-timing-function: ease-in;
                transform: translateX(0px);
            }

            &:hover {
                background-color: #ffffff;
                color: $main-color;
                border: 1px solid $main-color;

                & svg {
                    transform: translateX(10px);
                    fill: $main-color;
                }
            }
        }
    }

    &-perks {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        &-heading {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }

        &-text {
            margin-top: 25px;
        }

        &-list {
            margin-top: 25px;
            padding-left: 30px;
            list-style-image: url(../img/perks-tick-symbol.svg);

            & li {
                margin-top: 16px;
                padding-left: 10px;
            }
        }
    }
}
